* {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  form{
    align-items: center;
    justify-content:center;
    background-color: gainsboro;
    width: 500px;
    height: 300px;
  }

  .viacep{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 600px;
    
  }

  input{
    align-items: center;
    justify-content:center;;
   
  }